<div class="container-fluid body-div">
  <div class="volume-div">
    <i class="fas fa-volume-up"></i>
    <i style="display: none" class="fas fa-volume-mute"></i>
  </div>
  <img class="dashboard-background" src="{{mainBackground}}">
  <div style="text-align: center">
    <label class="main-header"><b>DÖRT İŞLEM ÖĞRENİYORUM</b></label><br>
    <label class="main-header-info"><b>(Öğretim)</b></label>
  </div>
  <div class="start-background-div col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div style="display: none" class="bg-12">
      <label class="start-label">HADİ BAŞLAYALIM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-right"></i></label>
    </div>
    <div style="display: none" class="education-session-div ">
      <label class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></label>
      <label class="education-session col-xl-4 col-lg-4 col-md-4 col-sm-4">Öğretim Oturumları&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
        class="fas fa-caret-right"></i></label>
      <label class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></label>
      <label class="evaluation-session col-xl-4 col-lg-4 col-md-4 col-sm-4">Değerlendirme Oturumları&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
        class="fas fa-caret-right"></i></label>
      <label class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></label>
    </div>
    <div class="operation-icons-div">
      <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <span>
          <img src="{{plus}}">
        </span>
        <span>
          <img src="{{minus}}">
        </span>
        <span>
          <img src="{{multiply}}">
        </span>
        <span>
          <img src="{{divide}}">
        </span>
      </label>
    </div>
  </div>
</div>
