<div class="container-fluid body-div">
  <div class="volume-div">
    <i class="fas fa-volume-up"></i>
    <i style="display: none" class="fas fa-volume-mute"></i>
  </div>
  <img class="dashboard-background" src="{{educationBackground}}">
  <div style="text-align: center;">
    <label class="operation mt-5"><b>5 + 3 = ?</b></label>
  </div>
  <div class="row mt-4" style="margin: 0 !important;">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div style="float: left">
        <div class="dot" style="float: left !important;" [ngStyle]="{'line-height':appleCount<5? '140px' : 'inherit' }">
          <div class="fruits connectedSortable" id="sortable1"
               [ngStyle]="{'margin-top':appleCount<4 ? '75px' : appleCount<7 ? '39px' : appleCount<9 ? '36px' : '0px','width':appleCount<8 ? '167px' : '220px !important','margin-left':appleCount<8 ? '104px' : '76px'}">
            <img src="">
            <img class="apple" src="{{apple}}" *ngFor="let i of Arr(appleCount);">
          </div>
          <img class="plate" src="{{plate}}">
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="dot">
        <div class="fruits2 connectedSortable" id="sortable2"
             [ngStyle]="{'margin-top':appleCount2<4 ? '75px' : appleCount2<7 ? '39px' : appleCount2<9 ? '36px' : '0px','width':appleCount2<7 ? '167px' : '220px !important','margin-left':appleCount2<7 ? '28px' : '5px'}">
          <img src="">
          <img class="apple" src="{{apple}}" *ngFor="let i of Arr(appleCount2);">
        </div>
      </div>
      <div class="dot2">
        <img class="plate sec-plate " src="{{plate}}">
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
  </div>
  <div class="row" style="margin: 0 !important;">
    <div class="dot">
      <div class="fruits3 connectedSortable" id="sortable3">
        <img src="">
      </div>
      <img class="plate2" src="{{plate}}">
    </div>
  </div>
  <div class="navigator">
    <span>
      <i class="far fa-hand-point-left"></i>
    </span>
    <span style="float: right">
      <i class="far fa-hand-point-right"></i>
    </span>
  </div>
</div>
