<div class="container-fluid body-div">
  <div class="volume-div">
    <i class="fas fa-volume-up"></i>
    <i style="display: none" class="fas fa-volume-mute"></i>
  </div>
  <img class="dashboard-background" src="{{educationBackground}}">
  <div style="text-align: center;">
    <label class="operation mt-5">
      <b>
        {{plusOperations[currentQuestion - 1]['first']}}&nbsp;+&nbsp;{{plusOperations[currentQuestion - 1]['second']}}&nbsp;=&nbsp;?
      </b>
    </label>
  </div>
  <div class="row mt-4" style="margin: 0 !important;">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div style="float: left">
        <div class="dot" style="float: left !important;">
          <div class="fruits connectedSortable" id="sortable1"
               [ngStyle]="{'margin-top':plusOperations[currentQuestion - 1]['first']<4 ? '75px' : plusOperations[currentQuestion - 1]['first']<7 ? '39px' : plusOperations[currentQuestion - 1]['first']<9 ? '7px' : '0px','width':plusOperations[currentQuestion - 1]['first']<8 ? '167px' : '220px !important','margin-left':plusOperations[currentQuestion - 1]['first']<8 ? '104px' : '76px'}">
            <img src="">
            <img class="apple" src="{{apple}}" *ngFor="let i of Arr(plusOperations[currentQuestion - 1]['first']);">
          </div>
          <img class="plate" src="{{plate}}">
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12"></div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="dot">
        <div class="fruits2 connectedSortable" id="sortable2"
             [ngStyle]="{'margin-top':plusOperations[currentQuestion - 1]['second']<4 ? '75px' : plusOperations[currentQuestion - 1]['second']<7 ? '39px' : plusOperations[currentQuestion - 1]['second']<9 ? '7px' : '0px','width':plusOperations[currentQuestion - 1]['second']<7 ? '167px' : '220px !important','margin-left':plusOperations[currentQuestion - 1]['second']<8 ? '28px' : '5px'}">
          <img src="">
          <img class="apple" src="{{apple}}" *ngFor="let i of Arr(plusOperations[currentQuestion - 1]['second']);">
        </div>
      </div>
      <div class="dot2">
        <img class="plate sec-plate " src="{{plate}}">
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12"></div>
  </div>
  <div class="row" style="margin: 0 !important;">
    <div class="dot">
      <div class="fruits3 connectedSortable" id="sortable3">
        <img src="">
      </div>
      <img class="plate2" src="{{plate}}">
    </div>
  </div>
  <div class="navigator">
    <span [hidden]="isFirst" (click)="previousQuestion()">
      <i class="far fa-hand-point-left"></i>
    </span>
    <span [hidden]="isLast" (click)="nextQuestion()" style="float: right">
      <i class="far fa-hand-point-right"></i>
    </span>
  </div>
</div>
