.dotDivide3 {
  margin: auto;
  width: 690px;
  text-align: center;
}

.sec-plate {
  float: left !important;
}

.navigator {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 34px 10px 34px;

  span {
    cursor: pointer;
  }

  span:first-child {
    float: left;

    i {
      color: darkred;
      font-size: 58px;
    }
  }

  span:nth-child(2) {
    float: right;

    i {
      color: darkblue;
      font-size: 58px;
    }
  }
}


.apple {
  vertical-align: middle !important;
  width: 55px;
  height: 55px;
  float: inherit;
  cursor: grabbing;
}

.fruitsDivide3 {
  width: 167px;
  height: 137px;
  margin-bottom: -113px;
  margin-left: 28px;
  position: sticky;

}

.plateDivide3 {
  width: 230px;
  height: 126px;
}

.plate_container {
  width: auto;
  height: auto;
  float: left;
}

.applesDivDivide {
  /* border: 2px solid darkred;*/
  text-align: center;
  height: 75px;
  margin-top: 45px;
}

#allApples {
}
